<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098713990839-qrn554sjkcj6f2f75p6brjb4rpsqpu21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098713990839-qrn554sjkcj6f2f75p6brjb4rpsqpu21</string>
	<key>API_KEY</key>
	<string>AIzaSyD8MeRj6jyMFPX594VptpikprTGRWPC3xo</string>
	<key>GCM_SENDER_ID</key>
	<string>1098713990839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.beetles.fric-frac</string>
	<key>PROJECT_ID</key>
	<string>fric-frac</string>
	<key>STORAGE_BUCKET</key>
	<string>fric-frac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098713990839:ios:990400b35dd33ef7206f32</string>
</dict>
</plist>